/*
File: content.css
Author: Jonathan Kissam, jk@webskillet.com
Copy of typography rules from style.css, for wysiwyg editors
*/

/**
 * Default webskillet colors:
 * #1280c9 (light blue) for links
 * #cc0000 (red) for link highlights
 * Replace in content.css and styling.css with site colors
 */

body {
	background-color: #fff;
	color: #333;
	font: 93.75%/1.8em Arial, Helvetica, 'Helvetica Neue', sans-serif;
	/* 93.75% = 15px */
}

/*
Headers */

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 0.25em; font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.333em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.066em; font-weight: bold; }
h5, h6 { font-size: 0.8em; font-weight: bold; margin-bottom: 0; }

/*
Text */

p { margin-bottom: 1.5em; }
p.leftalign { text-align: left; }
p.centeralign { text-align: center; }
p.rightalign { text-align: right; }
address { font-style: normal; margin-bottom: 1.5em; }
blockquote { margin: 0 0 0 2em; padding-bottom: 1.8em; }
blockquote p { margin-bottom: 0.75em; }

/*
Lists */

ul, ol { margin: 0 0 1em 1.5em; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

dl { margin: 0 0 1em 0; }
dt { font-weight: bold; }
dd { margin: 0 0 1.5em 2em; }
dd ul, dd ol { margin-left: 0; }

/*
Links */

a:link { color: #1280c9; }
a:visited { color: #1280c9; }
a:hover { color: #cc0000; }
a:active { color: #1280c9; }

/*
Images */

.image-left { float: left; margin: 0 20px 20px 0; }
.image-right { float: right; margin: 0 0 20px 20px; }
.image-center { display: block; width: auto; margin: 0 auto 1.5em; }


